extends layout

block content
    .w3-container
        h1= filme.title
    .w3-container
        h3= filme.year
    .w3-container
        table.w3-table-all.w3-centered
            tr.w3-container
                th Atores:
            each ator in filme.cast
                tr.w3-container
                    td= ator
    .w3-container
        table.w3-table-all.w3-centered
            tr.w3-container
                th Gêneros:
            each genero in filme.genres
                tr.w3-container
                    td= genero
    footer.w3-container
        adress Gerado por Gestão de Filmes App ::
            a(href='/filmes') Voltar à página anterior
